{% extends 'layout.html' %}

{% block body %}
<p>
    {% if grade_view == "1" %}
      <h1> Showing Student Name and Grade </h1>
      <ul>
      {% for student in class_roster %}
      <li>
        <h1> {{student[0]}} {{student[1]}} </h1>
      </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if grade_view == "2" %}
      <h1> Showing Student Name and Standing </h1>
      <ul>
      {% for student in class_roster %}
      <li>
        <h1> {{student[0]}} {{student[2]}} </h1>
      </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if grade_view == "0" %}
      <h1> Showing All Student Information </h1>
      <ul>
      {% for student in class_roster %}
      <li>
        <h1> {{student[0]}} {{student[1]}} {{student[2]}}
      </li>
      {% endfor %}
      </ul>
    {% endif %}

</p>

{% endblock %}
