{% extends 'layout.html' %}

{% block body %}
<p>
    {% if grade_view == "1" %}
      <h1> Showing Student Name and Grade </h1>
      <ul>
      {% for student in class_roster %}
      <li>
         <b>{{student[0]}}</b> <b>|</b> Grade: <i>{{student[1]}}</i>
      </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if grade_view == "2" %}
      <h1> Showing Student Name and Class Standing </h1>
      <ul>
      {% for student in class_roster %}
      <li>
        <b>{{student[0]}}</b> <b>|</b> Year: <i>{{student[2]}}</i>
      </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if grade_view == "0" %}
      <h1> Showing All Student Information </h1>
      <ul>
      {% for student in class_roster %}
      <li>
         <b>{{student[0]}}</b> <b>|</b> Grade: <i>{{student[1]}}</i> <b>|</b> Year: <i>{{student[2]}}</i>
      </li>
      {% endfor %}
      </ul>
    {% endif %}

</p>

{% endblock %}
